/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* header section start here */
header {
    background-color: #F0FFF0;
}
.navbar-brand img {
    width : 200px;
}
 .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
} 
.color {
    background-color: #21B573;
    padding: 8px 30px;
    border-radius: 33px;
    color: #ffffff!important;
    font-size: 16px;
    text-align: center!important;
    font-family: 'Roboto', sans-serif;
}

/* header section end here */

/* banner section start here */
.banner {
    background-color: #F0FFF0;
    padding-top: 100px;
    padding-bottom: 50px;

}
.banner-content h6 {
    font-family: Poppins;
    font-weight: normal;
    font-size: 16px;
    color: #FD511A;
}
.banner-content h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #000000;
}
.banner-content span {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #21B573;
}
.banner-content p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #6C6B6B;
}

/* banner section end here */
/* book section start here */
#book {
    margin: 60px 0px;
}
#book .card {
    border:none;
    background-color: #F8FFFB;
    border-radius: 10px;
    padding: 50px 0px;
}
#book .shadow {
    background-color: #ffffff!important;
}
.card-body,.shadow h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #413960;
    padding-top: 10px;
}
.card-body,.shadow p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #413960
}
/* book section end here */

/* courses section start here */
#course .card {
    border:none;
    border-radius: 10px;
    padding: 50px 0px;
}
#course h2 {
    color: #413960;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    margin-bottom: 50px;
}
#course .card {
    border:none;
    border-radius: 10px;
    padding: 30px 10px;
    box-shadow: 1px 1px 10px gray;
   
}
#course .card-body h5 {
    color: #413960;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
#course .card-body p {
    color: #585859;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.card-footer img {
    width: 35px!important;
}
.card-footer span {
    font-size: 14px;
}
#course .card-footer {
    border: none;
    background: transparent;
    text-align: left;
}
.card-footer img {
    width: 35px!important;
}
.card-footer span {
    font-size: 14px;
}
.
/* courses section end here */
/* testimonial section star here */
.testimonial h2 {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.testimonial p {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;

}
/* testimonial section end here */

/* teacher sction start here */
.teacher {
    margin: 50px 0;
    background: #f6f9f9;
}
.teacher h2 {
    padding-top: 20px; 
}
.teacher h2:hover {
    color: mediumpurple; 
}
.teacher1 .card {
    border: none;
    border-radius: 10px;
    background: transparent;
    position: relative;
}
.teacher1 .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #0000ff4f;
}
.teacher1 .card:hover.card::before {
    height: 100%; 
    box-shadow: 1px 1px 10px gray;
    transition: width .5s infinite .3s linear ease-in-out;
}
.teacher1 .card-footer {
    border: none;
    background: transparent;
}
.teacher1 {
    padding: 50px 0;
}
.teacher1 .card:hover .color {
    background-color: rgb(55, 55, 128);
}
/* teacher section end here */

/* footer section start here */
footer {
    background-color: #282531;
    color: #ffffff;  
}
.footer-top {
    padding: 50px 0;
}
footer ul li{
    list-style: none;
}
footer h5 {
    font-size:18px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
footer p {
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
}
footer a {
    text-decoration: none!important;
    color: #ffffff;
    font-size: 16px;
}
.footer-bottom P {
    font-size: 16px;
    color: #CDCDCD;
    font-family: 'Poppins', sans-serif;
}


/* footer section end here */